.row{
    display: inline-block;
}

.col{
    display: inline-block;
}

.card{
    display: inline-flex;
}

form{
    display: inline-block;
}

img{
    max-width: 100%;
  height: auto;
  background-color: grey;
}

.fa-star,
.fa-star-harf{
    color: rgb(177, 177, 10);
    padding: 3% 0;
}